div.container {
    width: 100%;
    border: 1px solid gray;
}

div.header {
    position: relative; /* needed for stacking */
    height: 50px;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    text-align:center;
    background-color: Black;
    color: White;
}
div.header a {
	color: White;
}
div.gamepanel {
    padding: 0;
    margin:0;
    overflow: hidden;
    text-align: center;
}
div.score {
  height:40px;
}

div.score .score-inner {
  width: 50%; 
  height:100%; 
  line-height:40px;
  vertical-align:middle;
}

div.score .score-inner.left {
  float: left;
}

div.score .score-inner.right {
  float: right;
}

div.score .score-inner span.wait {
  position:absolute;
}