div.container {
    width: 100%;
    border: 1px solid gray;
}

h3.header {
/*     padding: 0; */
    color: white;
    background-color: Black;
    clear: left;
    text-align: center;
}

div.gamepanel {
    padding: 0;
    margin:0;
    overflow: hidden;
    text-align: center;
}