div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 0;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header p {
 	color: white;
    background-color: black;
}

div.gamepanel {
    padding: 0;
    margin:0;
    overflow: hidden;
    text-align: center;
}